<div class="HeaderStyle">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="logo">
        <img src="assets/Logo/logo1.png" alt="" style="margin-left: 10px;">
        <img src="assets/Logo/logo2.png" alt="" style="margin-left: 10px;">
      </div>
      <a class="navbar-brand">{{title}}</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <h3 routerLink="accueil"  class="nav-link">Accueil</h3>
          </li>
          <li class="nav-item">
            <h3  routerLink="adversaires" class="nav-link">Adversaires</h3>
          </li>
          <li class="nav-item">
            <h3  routerLink="heros"class="nav-link">Héros</h3>
          </li>
          <li class="nav-item">
            <h3  routerLink="apropos" class="nav-link">A propos</h3>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
