<div class="main">

  <div class="imageContent">
    <img src="assets/Illustration/img1.png" alt="" width="100%">
  </div>
  <div class="sipdermanTitle">
    <p>{{spidermanTitle}}</p>
    <div class="sipdermanButtonNav">
      <div class="heroBtn" routerLink="heros">Voir les Héros</div>
      <div class="adversaireBtn" routerLink="adversaires">Voir les adversaires</div>
    </div>

    <h3 style="font-weight: bold;color: white;margin-top: 70px;">{{message}}</h3>
  </div>

  <div class="content">
    <div class="contentFirstTitle"><p>{{spidermandescriptionTitle}}</p></div>
    <div class="contentSecondTitle"><p>{{spidermandescrition}}</p></div>
    <div class="cardContent">
      <img src="assets/Illustration/img2.png" alt="" id="img1Style">
      <img src="assets/Illustration/img3.png" alt="" id="img2Style">
      <img src="assets/Illustration/img4.png" alt="" id="img3Style">
    </div>
    <div class="cardContentInfo">
      <div class="info" id="contentOne">
        Trois films Spiderman sont sortis en 2002,<br> 2004, 2007. Ils sont produits par <br>Columbia Pictures et Spiderman est
        incarné par Tobey Maguire. Un quatrieme <br>était prévu mais sera finalement annulé<br> suite à des désaccords entre Sam Raimi (le<br>
         réalisateur) et Sony.<br>Cette prémiere trilogie a connu un grand <br>succès auprès des fans et du grand public.<br>
         L'épisode 3 reste à ce jour un des films les <br>plus chers de l'histoire du cinéma.<br>
         <div class="btnAdversaire" routerLink="adversaires">Voir les adversaires</div>
      </div>
      <div class="info" id="contentTwo">
       The Amazing Spiderman est sorti en 2012,<br> c'est Andrew Garfield qui incarne le héros et <br>Marc Webb à la réalisation. Un deuxième <br>volet,
       The Amazing Spider-Man: Le destin <br>d'un héros, est sorti en 2014 et a reçu des <br>critiques très mitigés.
       Un troisième et quatrième film étaient prévus pour 2016 et <br>2018. Finalement, Marvel et Sony trouvent<br>un accord pour introduire Spiderman dans<br>
       l'Univers cinématographique Marvel et <br>abandonne ainsi The Amazing Spider-Man.<br>
       <div class="btnAdversaire" routerLink="adversaires">Voir les adversaires</div>
      </div>
      <div class="info" id="contentThree">
        Spiderman, désormais incarné par Tom <br>Holland, apparait pour la prémière fois <br>dans l'univers Marvel avec Captain America<br>
        :Civil War, sorti en 2016. Par la suite, une<br> trilogie de films lui est consacrée:<br>
        <ul>
          <li>Spiderman: Homecoming (2017)</li>
          <li>Spiderman: Far From Home (2019)</li>
          <li>Spiderman: No Way Home (2021)</li>
        </ul>
        Le héro est également présent dans <br>Avengers Infinity ar et Avengers End<br>Game, combattabt au coté des Avengers.<br>
        <div class="btnAdversaire" routerLink="adversaires">Voir les adversaires</div>
      </div>
    </div>
  </div>
  <div class="register">
    <div class="imageSpider">
      <img src="assets/Illustration/img5.png" alt="">
    </div>
    <div class="myForm">
      <h3 style="text-align: center;color: white;font-family: fantasy;">DEVIENS SPIDERMAN</h3>
      <h6 style="text-align: center;color: white;">Rempli le formulaire ci-dessous afin de receveoir ton propre costume.</h6>
      <form class="inputContent">
        <input type="text" name="nom" placeholder="Nom" class="myInputs">
        <input type="text" name="prenom" placeholder="Prénom" class="myInputs">
        <input type="number" name="taille" placeholder="Taille (cm)" class="myInputs">
        <input type="number" name="poids" placeholder="Poids (kg)" class="myInputs">
        <input type="email" name="email" placeholder="Adresse email" class="myInputs">
        <div class="btnSend">Envoyer</div>
      </form>
    </div>
  </div>

  <div class="newsletter">

    <div class="myFormNewsLetter">
      <h3 style="text-align: center;color: white;font-family: fantasy;">INSCRIT TOI À LA NEWSLETTER</h3>
      <h6 style="text-align: center;color: white;">l'univers de l'araignée justicère te passionne ? Reste au courant des dernières<br>
        actualités grace à notre newsletter</h6>
      <form class="inputContentNewsLetter">
        <input type="text" name="fullname" placeholder="Nom Prénom" class="myInputsNewsLetter">
        <input type="email" name="email" placeholder="Adresse email" class="myInputsNewsLetter">
        <input type="checkbox" name="" id="checkboxLetter">
        <div class="btnSendNewsLetter">S'inscrire à la newsletter</div>
      </form>
    </div>

    <div class="imageSpiderNewsLetter">
      <img src="assets/Illustration/img6.png" alt="">
    </div>

  </div>


  <div class="footer">
    <h5>Mobile App</h5>
    <h5>Politique de confidentialité</h5>
    <h5>Cookie</h5>
    <div class="logo">
      <img src="assets/Logo/logo1.png" alt="" style="margin-left: 10px;">
      <img src="assets/Logo/logo2.png" alt="" style="margin-left: 10px;">
    </div>
    <h5>MARVEL</h5>
    <h5>Contact</h5>
    <h5>Blog</h5>
  </div>


</div>

